<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1,maximun-scale=1,user-scalable=no">
    <title>为你写诗</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div>
<!--    "tittle"-->
    <div>
        <form enctype="multipart/form-data" action="match" method="post" style="top: 45%"
         class="enter_box">
            <input type="text" class="input-group" name="username" style="border-radius:12px;
                border: rgb(29,32,136) 1px solid;text-align: center" placeholder="请输入你的名字">

            <input type="submit" class="enter_box" style="top:150%;background: rgb(41,10,89);color: white;
                border: rgb(29,32,136) 1px solid;border-radius:12px" value="匹配情人">
        </form>

        <img src="../static/images/background.png" style="width:100%">
    </div>
</div>
</body>

<style>
.enter_box{
    width: 240px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    line-height: 34px;
}
</style>
</html>