<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1,maximun-scale=1,user-scalable=no">
    <title>为你写诗</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div>
<!--    "tittle"-->
    <form enctype="multipart/form-data" action="match" method="post" class="enter_box" style="top:48%">
        <input type="text" name="username" style="border-radius:12px;width: 100%;
            border: rgb(29,32,136) 1px solid;text-align: center;" placeholder="请输入你的名字">

        <input  type="submit" style="margin-top: 8%;background: rgb(41,10,89);color: white;
            border: rgb(29,32,136) 1px solid;border-radius:12px;width: 100%" value="匹配有缘人">
    </form>

    <img src="../static/images/background.png" style="width:100%">
</div>
</body>

<style>
.enter_box{
    width: 17%;
    position: absolute;
    left: 50%;
    margin-left: -8.5%;
    /*border: black 1px solid;*/
    line-height: 2.3vw;
    /*z-index: 3;*/
    font-size: 1.1vw;
}
</style>
</html>