<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width,initial-scale=1,maximun-scale=1,user-scalable=no">
    <title>为你写诗</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>

@font-face {
    font-family: "my_font";
    src: url("../static/fonts/叶根友书繁.ttf");
}

</style>
<body>

<div>
<!--    <div>{{name1}}-->
<!--        {{name2}}</div>-->
    <div class="name_box">{{name_son}}</div>
    <img src="../static/images/background.png" style="width:100%">
</div>

</body>

<style>
    .name_box{
    width: 550px;
    position: absolute;
    font-family: my_font;
    font-size: 75px;
    text-align: center;
    /*border: black 2px solid;*/
    left: 50%;
    margin-top: 350px;
    margin-left: -275px;
    z-index: 10;
}
</style>
</html>